<aside class="sidebar">
  <div class="logo">
    <img src="../static/img/logo.svg" alt="logo" class="logo-icon">

    <span class="logo-text">
      SafeVision <strong>AI</strong>
    </span>
  </div>

  <nav class="menu">
    <a href="./index.html" class="menu-item" data-page="index">
      <img src="../static/img/dashboard.svg" alt="logo" class="logo-icon">
      <span>대시보드</span>
    </a>

    <a href="./monitoring.html" class="menu-item" data-page="monitoring">
      <img src="../static/img/monitoring.svg" alt="logo" class="logo-icon">
      <span>실시간 모니터링</span>
    </a>

    <a href="./event-log.html" class="menu-item" data-page="event-log">
      <img src="../static/img/event-log.svg" alt="logo" class="logo-icon">
      <span>이벤트 로그</span>
    </a>

    <a href="./statistics.html" class="menu-item" data-page="statistics">
      <img src="../static/img/statistics.svg" alt="logo" class="logo-icon">
      <span>통계 분석</span>
    </a>
  </nav>
</aside>